.container {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	margin-top: 50px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

label {
	font-size: 1.2rem;
	margin-top: 20px;
}

input {
	padding: 10px;
	font-size: 1.2rem;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

button {
	padding: 10px 20px;
	font-size: 1.2rem;
	border: none;
	border-radius: 5px;
	background-color: #00bfff;
	color: #fff;
	cursor: pointer;
	margin-top: 30px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#car-container {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.car-card {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	padding: 20px;
	margin: 10px;
	text-align: center;
}

.car-card h2 {
	margin-top: 0;
}

.car-card p {
	margin: 5px;
}
